<a href="https://colab.research.google.com/github/Pedro-Boechat/trainee/blob/main/periodo3v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.decomposition import PCA

# Bin√°rio

In [268]:
df = pd.read_csv('/content/winequality.csv')

In [269]:
df.tail()

      Unnamed: 0  fixed acidity  ...  quality  wine_is_red
6492        6492            7.7  ...        6            0
6493        6493            6.2  ...        6            0
6494        6494            7.9  ...        6            0
6495        6495            7.0  ...        5            0
6496        6496            6.4  ...        6            0

[5 rows x 14 columns]

In [270]:
df.isna().sum()

Unnamed: 0              0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
wine_is_red             0
dtype: int64

In [271]:
df = df.drop(columns='Unnamed: 0')

In [272]:
colunas = df.columns

## Normalizar

In [273]:
for i in colunas:
  df[i] = (df[i] - df[i].min()) / (df[i].max() - df[i].min())

In [274]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...   alcohol  quality  wine_is_red
0       0.173554          0.353333     0.048193  ...  0.449275      0.5          1.0
1       0.363636          0.613333     0.054217  ...  0.144928      0.5          1.0
2       0.214876          0.106667     0.295181  ...  0.362319      0.5          0.0
3       0.231405          0.100000     0.156627  ...  0.289855      0.5          0.0
4       0.280992          0.106667     0.174699  ...  0.304348      0.5          0.0

[5 rows x 13 columns]

## Verificar balanceamento

In [275]:
df['wine_is_red'].value_counts()
# Levemente desbalanceado. Verificar

0.0    4898
1.0    1599
Name: wine_is_red, dtype: int64

In [276]:
from sklearn.utils import resample
# Separar a maioria e minoria
df_majority = df[df['wine_is_red']==0]
df_minority = df[df['wine_is_red']==1]
# Downsample
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    
                                 n_samples=1599)
# Combinar a maioria downsampled com a minoria
df = pd.concat([df_majority_downsampled, df_minority])

## Implementando KNN

In [277]:
from sklearn.model_selection import train_test_split

X = df[colunas.drop('wine_is_red')]
Y = df['wine_is_red']
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

## PCA

Testei com e sem PCA, e n√£o mudou muita coisa

In [278]:
#pca = PCA(.95)

In [279]:
#pca.fit(X)

In [280]:
#pca.n_components_

In [281]:
#X = pca.transform(X)

## Train

In [282]:
print(X_test)
print(X_train)
print(y_test)
X_test = np.array(X_test)
X_train = np.array(X_train)
y_train = np.array(y_train)
y_test = np.array(y_test)

      fixed acidity  volatile acidity  ...   alcohol   quality
5611       0.512397          0.233333  ...  0.289855  0.333333
318        0.297521          0.260000  ...  0.362319  0.333333
1848       0.305785          0.133333  ...  0.623188  0.833333
4357       0.429752          0.493333  ...  0.260870  0.333333
4093       0.214876          0.373333  ...  0.260870  0.333333
...             ...               ...  ...       ...       ...
80         0.165289          0.140000  ...  0.492754  0.500000
5199       0.388430          0.260000  ...  0.449275  0.500000
2841       0.239669          0.120000  ...  0.347826  0.500000
3858       0.214876          0.173333  ...  0.144928  0.166667
5366       0.206612          0.086667  ...  0.130435  0.333333

[640 rows x 12 columns]
      fixed acidity  volatile acidity  ...   alcohol   quality
6111       0.280992          0.386667  ...  0.246377  0.333333
4242       0.272727          0.393333  ...  0.202899  0.333333
5478       0.247934          0.066667  ...  0.144928  0.666667
1735       0.231405          0.506667  ...  0.623188  0.666667
597        0.438017          0.213333  ...  0.652174  0.500000
...             ...               ...  ...       ...       ...
4626       0.214876          0.140000  ...  0.637681  0.666667
1668       0.214876          0.120000  ...  0.275362  0.500000
5160       0.330579          0.226667  ...  0.173913  0.500000
5564       0.380165          0.320000  ...  0.434783  0.333333
6188       0.132231          0.083333  ...  0.405797  0.500000

[2558 rows x 12 columns]
5611    1.0
318     1.0
1848    0.0
4357    1.0
4093    1.0
       ...
80      0.0
5199    1.0
2841    0.0
3858    0.0
5366    0.0
Name: wine_is_red, Length: 640, dtype: float64

In [283]:
distancias = [np.sqrt(np.sum((x_test - X_train)**2, axis=1)) for x_test in X_test]
len(distancias)

640

In [284]:
from scipy import stats

pred = np.array([])
k = 7
for i in range(len(distancias)):
  idxkneigh = distancias[i].argsort()[:k] # Pega os indices das k menores distancias
  vizinhos = [y_train[idxkneigh[j]] for j in range(k)] # Busca qual a classifica√ß√£o desses indices: red ou n√£o
  mode_info = stats.mode(vizinhos) # Pega a moda das classifica√ß√µes dos KNN
  pred = np.append(pred, mode_info[0]) # Prediz

In [285]:
accuracy = np.in1d(pred,y_test) # Comparar onde os resultados s√£o corretos
precisao = np.count_nonzero(pred == True)/len(distancias)

In [288]:
precisao

0.5125